
<app-shopping-edit></app-shopping-edit>


<mat-card style="margin: 10px">

  <mat-card-title>
    Shopping List
  </mat-card-title>

  <mat-card-content>
    <span *ngIf="shoppingListService.ingredients.length == 0">
      No ingredients added yet.
    </span>
    <ul class="list-group" >
      <a 
        class="list-group-item" 
        style="cursor: pointer"
        *ngFor="let ingredient of shoppingListService.ingredients; let i = index"
        [ngClass]="{'active': shoppingListService.editingIngredient == ingredient}"
        (click)="onEditItem(i)"
      >
        {{ ingredient.name }}  ({{ ingredient.amount }})
      </a>
    </ul>
  </mat-card-content>
</mat-card>